/* Container */
    .container {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


/* Card */
    .card {
        background-color: #3c3c3cf3;
        box-shadow: 0 0px 3vh rgba(0, 0, 0, 0.5);
        border-radius: 1vh;

        width: 50vh;
        height: 100%;
        margin: 2vh 0;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        padding: 2vh;
        z-index: 5;
        transition: box-shadow 0.1s ease-in-out;
    }
    .cardActive {
        box-shadow: 0 0px 50px rgba(0, 255, 0, 1.0);
    }
    .card p {
        margin: 0;
        text-align: center;
    }


/* Auto Shocking Indicator */
    .autoShockingIndicator {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        gap: 1vh;
        width: 100%;
    }
    .autoShockingIndicator span {
        font-size: 2.1vh;
    }

    .statusIndicator {
        width: 2vh;
        height: 2vh;
        border-radius: 50%;
        box-shadow: 0 0 2vh rgba(255, 255, 255, 0.3);
        transition: all 0.3s ease;
    }

/* Power range */
    .powerRangeSelectorLabel {
        width: 100%;
        text-align: left;
    }

    .powerRangeSelectorSlider {
        width: 100%;
    }

    .rangeTrack {
        position: relative;
        height: 3vh;
        background-color: #1a1a1a;
        border-radius: 1.5vh;
    }

    .interactableRange{
        left: 1.5vh;
        position: absolute;
        width: calc(100% - 3vh);
        height: 3vh;
    }

    .rangeFill {
        position: absolute;
        height: 100%;
        background: #07800b;
    }

    .rangeThumb {
        position: absolute;
        top: 0;
        width: 3vh;
        height: 3vh;
        background: #09bc0f;
        border-radius: 50%;
        cursor: pointer;
        /* border: 0.4vh solid #388E3C; */
        transform: translateX(-50%);
    }

/* Time selectors */
    .timeSelector {
        width: 100%;
    }

    .timeSelector span {
        font-size: 2.1vh;
    }

    .timeSelector input {
        font-size: 2.1vh;
    }